* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgb(166, 166, 166);
}

/* Shared Styles */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  background-color: #32915a;
  color: white;
  font-size: 16px;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-2 {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: 16px;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  margin: 0 150px;
}

/* Header Section */
header {
  background-color: white;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  margin: 0 150px;
}

.navbar .logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links li a {
  font-size: 16px;
  font-weight: 500;
}

/* Hero Section */

.hero-section {
  width: 100%;
  background: url(./assets/hero-bg.png);
}

.hero-section .container {
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
}

.hero-section .hero-access {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  color: #1c8421;
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.hero-access .outer-circle {
  background-color: rgb(195, 249, 195);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.hero-access .middle-circle {
  background-color: rgba(81, 174, 81, 0.674);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.hero-access .inner-circle {
  background-color: rgba(34, 148, 34, 0.655);
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.hero-section .hero-title {
  color: white;
  font-size: 45px;
}

.hero-section .hero-description {
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.hero-section .hero-btn {
  display: flex;
  gap: 20px;
  margin: 10px 0;
}

.hero-btn button {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
