* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Styles */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  background-color: #469165;
  color: white;
  font-size: 16px;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Header Section */
header {
  background-color: white;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  margin: 0 150px;
}

.navbar .logo img {
  width: 150px;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links li a {
  font-size: 16px;
  font-weight: 500;
}
